@model WebApplicationInired.Models.Fotos_Marker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fotos_Marker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marker.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marker.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.imagen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
